@model MvcCv.Models.Entity.TblEgitimlerim

@{
    ViewBag.Title = "EgitimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Eğitim Güncelleme Sayfası</h3>

<br />
<form method="post">
    @Html.Label("Eğitim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Genel Not Ortalaması")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
