@using MvcCv.Models.Entity
@model List<TblYeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string renk = "";}
@{ string labelrenk = "";}

<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <div class="card-body">
                                <a href="/Yetenek/YeniYetenek/" class="btn btn-info">Yeni Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Oran >= 0 && x.Oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                labelrenk = "badge bg-danger";
                                            }
                                            if (x.Oran >= 51 && x.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                labelrenk = "badge bg-warning";
                                            }
                                            if (x.Oran >= 71 && x.Oran <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                                labelrenk = "badge bg-primary";
                                            }
                                            if (x.Oran >= 85 && x.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                labelrenk = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@x.ID.</td>
                                                <td>@x.Yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width: @x.Oran%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelrenk">@x.Oran%</span></td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/Yetenek/YetenekDuzenle/@x.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/Yetenek/YetenekSil/@x.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
