@model MvcCv.Models.Entity.TblYeteneklerim

@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Yetenek Güncelleme Sayfası</h3>

<br />
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek Adı")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek Oranı")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
